*.py[co]
*.swp
*.egg-info
/.cache
/.coverage
/.mr.developer.cfg
/.tox/
/coverage.xml
/bin/*
/build/*
/develop-eggs/*
/dist/*
/eggs/*
/etc
/htmlcov/
/include/
/.installed.cfg
/lib/
/parts/
/.python-version
