[buildout]
parts =
versions = versions
develop = .
extensions = mr.developer
sources = sources
sources-dir = mrd
auto-checkout =
    example.packagerepo
    example.projectrepo.pkg1
    example.projectrepo.pkg2
    example.svnpackagerepo
    example.svnprojectrepo.pkg1
    example.svnprojectrepo.pkg2


[sources]
# revision support for git is implemented and defaults to master
# valid revisions are: branch name (local/remote), SHA1, more to follow
# git_checkout calls git_update if repo exists and checks out revision
# TODO:
#   - tests
#   - further revisions for git
#   - gitsvn as a new backend
#   - revision support for gitsvn
#   - revision support for svn
#   - revision support for hg
#example.packagerepo = git git://github.com/chaoflow/example.packagerepo.git revision=master
example.packagerepo = git git://github.com/chaoflow/example.packagerepo.git revision=stable
#example.packagerepo = git git://github.com/chaoflow/example.packagerepo.git revision=50e34
# A git repository may hold several eggs (in subdirectories) belonging to one
# project. The base directory in which the package directory is located can be
# specified with basedir=
example.projectrepo.pkg1 =
    git github:chaoflow/example.projectrepo.git
    revision=master
    pkgbasedir=
example.projectrepo.pkg2 =
    git github:chaoflow/example.projectrepo.git
    revision=master
    pkgbasedir=subdir
example.svnpackagerepo =
    svn https://svn.plone.org/svn/collective/example.svnpackagerepo/trunk@100499
example.svnprojectrepo.pkg1 = svn collective:example.svnprojectrepo/trunk
    pkgbasedir=
example.svnprojectrepo.pkg2 = svn collective:example.svnprojectrepo/trunk
    pkgbasedir=subdir


[versions]
